.btn{
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
transition: 0.6s;
cursor: pointer;

&.btn-primary,
&.btn-secondary{
  padding: 10px;
  font-size: 16px;
  border-radius: 7px;
}


&.btn-primary,
&.btn-secondary{
  color: var(--secondary-010);
  background: var(--primary);
  &:hover{
    background: var(--secondary);
    color: var(--primary)
  }

}
}
