.btn{
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
transform: 0.5s;
cursor: pointer;

&.btn-primary,
&.btn-secondary{
  padding: 10px;
  font-size: 16px;
  border-radius: 7px;
}


&.btn-primary{
  color: var(--secondary-010);
  background: var(--primary);
  &:hover{
    background: var(--secondary);
    color: var(--primary)
  }

}
}
