:root{
  --primary:#ffe4ea;
  --primary-010: #70001f;  // letras principais

  --secondary: #a93e4a;  // sub titulos
  --secondary-010: #e4717a; // cor dos cards

  --white: #fff;

  --black: #10101a;
  --black-010:#2a2a30;

  --grey: #9b9ba0;



}
