<div>
<header>
  <img
  src="assets/img/dalleth.png"
  alt="Dalleth Martins - foto "
  width="130px"
  height="130px"
  loading="eager"
  />
  <h1>Olá me chamo Dálleth Martins</h1>
  <h2>Seja bem vindo ao meu perfil!</h2>
  </header>
  <aside>
    <div class="container">
      <p>Desenvolvedora Front-end com  | SaaS | HTML | JavaScript | TypeScript | Angular | NodeJS | Git e GitHub</p>
      <p>Nova Odessa, São Paulo, Brasil</p>
      <p  class="description"  >Tenho 27 anos, sou estudante de ciências da computação, estou no 3° semestre previsão para término em Dezembro de 2026. Assim como todo dev
        amo programar, me mantenho sempre estudando e buscando melhorar minhas habilidades assiduamente,
        gosto assistir series, animes, ficar por dentro das novas features das ferramentas de tecnologias que utilizo,
        finais de semana encontro com amigos via discord para aprender e codar juntos.
      </p>
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/EssiDallethSousaMartinsCvDigital.pdf" target="_blank" class="btn btn-primary">Download Cv</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/dalleth-martins/"
            target="_blank" class="btn btn-secondary"
           >LinkedIn</a>
          </li>
        </ul>

      </nav>
      <section>

        <figure>
          <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone do whatsapp"
          width="22px"
          height="24px"
          />
          <figcaption>
            <a
            href="https://api.whatsapp.com/send?phone=5519996611982&amp;text=Ol%C3%A1%20Dalleth,%20preciso%20de%20um%20job!"
            target="_blank"

            >
            <strong>Envie uma mensagem para:</strong>
            <p>Whatsapp: (19) 99661-1982</p>
          </a>
          </figcaption>
        </figure>

        <figure>
          <img
          src="assets/icons/email.svg"
          alt="Ícone do e-mail"
          width="22px"
          height="24px"
          />
          <figcaption>
            <a
              href="mailto:essi_dalleth@outlook.com"
              target="_blank"
            >
            <strong>Envie uma mensagem para:</strong>
            <p>essi_dalleth&#64;outlook.com</p>
            </a>
          </figcaption>
        </figure>

      </section>

    </div>
  </aside>
</div>



